<table>
    <tr>
        <th>NAME</th>
        <th>TOWN</th>
        <th>ID</th>
        <th>DELETE</th>
        <th>UPDATE</th>
    </tr>
    <tbody>
        {{#each data}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.town}}</td>
                <td>{{this._id}}</td>
                <td><a href="/delete/?id={{this._id}}">delete</a></td>
                <td><a href="/update/?id={{this._id}}">update</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>

<a href="/create">Add new Student</a>

